{% extends 'base_unauthenticated.html'%} {%load static%} {% block content %}
<main>
  <section class="hero">
    <div class="hero--introduction">
      <div class="hero--intro__text">
        <h1>Najlepsi specjaliści w okolicy!</h1>
        <img src="{%static 'img/Vector1.png'%}" alt="vector" />
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia et
          possimus rem reiciendis totam neque aspernatur accusantium. Voluptas,
          corrupti voluptatum deleniti iste perferendis incidunt numquam
          repellat tempore? Incidunt, corporis officia.
        </p>
      </div>
      <div class="hero--intro--img">
        <img src="{%static 'img/hero dr img.jpg'%}" alt="hero-dr" />
      </div>
    </div>
  </section>
  <section class="hero">
    <div class="hero--select">
      <div class="hero--secect--title">
        <h1>Wybierz lekarza!</h1>
      </div>
      <div class="hero--secect--cards">
        {%for doctor in doctors%}
        <div class="hero--select--card">
          <div class="hero--select-img doc">
            <img src="{%static '/img/doc 1.jpg'%}" alt="doctor 1" />
          </div>
          <div class="hero--select-text">
            <h3>{{doctor.first}} {{doctor.lastname}} - {{doctor.typeofdoctor}}</h3>
            <p>
              
            </p>
            <button class="hero--select--button">skonsultuj się!</button>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </section>
  <section class="hero callADoctor">
    <div class="hero--introduction">
      <div class="hero--intro__text">
        <h1>Skonsultuj się teraz!</h1>
        <img src="{%static '/img/Vector1.png'%}" alt="vector" />

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia et
          possimus rem reiciendis totam neque aspernatur accusantium. Voluptas,
          corrupti voluptatum deleniti iste perferendis incidunt numquam
          repellat tempore? Incidunt, corporis officia.
        </p>
      </div>
      <div class="hero--intro--img">
        <img src="{%static '/img/skonsultuj-img.jpg'%}" alt="hero-dr" />
      </div>
    </div>
  </section>
  <footer>
    <div class="footer-chat-ico">
      <img src="{%static '/img/contact.png'%}" alt="contact" />
    </div>
    <span class="sign">made with ❤️ by Adam && Bartek</span>
  </footer>
</main>
{% endblock %}
